[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stoichUtilities"]
	path = stoichUtilities
	url = https://github.com/stoich-project/stoich-utilities
	subdir = stoichUtilities
